/* tags */
body {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4em;
  line-height: 1.5;
  
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}
/* classes */
.navbar {
  padding-bottom: 5%;
}
.container-fluid {
  padding: 3% 15%;
}
.navbar-brand {
  font-size: 3em;
}
.btn {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 2%;
}
.nav-item {
padding: 0 18px 0 0;
font-size: 1.5em;
}
.f-icons {
  color: #ef8172;
  font-size: 4em;
  padding: 10px;
}
.f-icons:hover {
  color: #ff4c68;
}
.h-features {
  font-size: 1.5em;
  padding: 10px;
}
.p-features {
  color: #8f8f8f;
  padding: 10px;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.tes-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

/* ID'S */
#title {
  background-color: #ff4c68;
  color: white;
}
#iphone6 {
  padding: 20%;
  transform: rotate(25deg);
}
#features {
  text-align: center;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;

}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
#pricing-column-1 {
  padding: 3% 2% 3% 0;
}
#pricing-column-2 {
  padding: 3% 2%;
}
#pricing-column-3 {
  padding: 3% 0 3% 2%;
}